body {
    padding: 10px;
    background-image:url('check.gif');
    background-size: cover;
    padding: 30px;
    color: white;
    
}

/*#gif{
    background: url("auctions/galaxy.gif");
}*/


a:link , a:visited,a:active{
    color: white;
    text-decoration: none;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
 }


a:hover{
    color: purple;
 } 