{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <h1>should daynamicly aloocate html </h1>

    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <a href="{% url 'index' %}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7OJgPDFCzRfuyzSPS_nBPeYDXW47QE9SFMg&usqp=CAU" class="card-img-top" alt="yat"></a>
        <div class="card-body">
        <h5 class="card-title">Plumbus</h5>
        <p class="card-text">rub it grub it squanch it </p>
        <p>50% off only 4$</p>
        <p>(current bid)
            a button that lets you bid current+100 and a form that lets you pickamount and be carefull of html higaz and shit 
        </p>
        <a href="" id ="noborders" class="btn btn-primary">Bid</a>
    </div>
  </div>     


  
{% endblock %}